.albumintro
{
    margin-bottom: 10px;
}

.albumintro img
{
    max-width: 800px;
}

.album .image 
{
    clear: left;
    overflow: auto;
    margin-bottom: 10px;
}

.album .image img
{
    max-width: 400px;
    float: left;
    margin-right: 10px;
}

.album .image p
{
    overflow: hidden;
    margin-top: 0px;
}

.album .image h2
{
    margin-top: 0px;
    margin-bottom: 10px;
}
