*
{
    margin: 0;
}

html, body
{
    height: 100%;
}

.main
{
    min-height: 100%;
    margin-left: 10px;
    /* equal to footer height */
    margin-bottom: -20px; 
}

.main:after
{
    content: "";
    display: block;
}

.secret, .main:after
{
    height: 20px; 
}

.secret a
{
    color: gainsboro; /* Slightly visible grey */
    text-decoration: none;
}

.builds
{
    margin-top: 20px;
}

.builds .build
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.builds .build .img
{
    position: relative;
    float: left;
    width:  307px;
    height: 230px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}
